body{
    width: 100%;
    margin: 0%;
    padding:0%;
     background-repeat: no-repeat;
 background-size:5%;  
    /* background-image: url(images/BeFunky-photo.jpg); */
 }
.nav_point{
    float: left;
    padding-top: 1%;
    font-size: 30px;
} 
.navbar-collapse{  
    float: left;
  
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background: linear-gradient(to left,rgb(255, 195, 195),rgb(80, 0, 0),rgb(70, 1, 1));
    /* background-color: rgb(53, 1, 1); */
    padding-left: 42%;
   
}

  
.nav_link{
    font-family:'monospace';
    color: rgb(215, 206, 237);
    text-decoration: none;
    border-style:groove ;
    border-color: rgb(255, 255, 255,0.5);
    font-size:23px; 
    float: left;
    padding: 8px;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;

}

.cap{
    display: flex;
    float: left;
    background-color: black;
    width: 100%;
    margin-top: 2px;
}

img{
   width: 612px;
   margin: 2px;
}
.caption{
    font-family: cursive;
    font-size: 55px;
    margin-top: 10%;
    background: linear-gradient(to left,rgb(255, 215, 255),rgb(128, 16, 128));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;

}